/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fdcae1;
    margin: 0;
    padding: 0;
}


/*Menú */
#menu {
    background-color: #fdcae1; /* Fondo blanco */
    position: relative;
    padding: 5px;
    border-radius: 10px;
    line-height: 2em;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Esto hará que los elementos de la lista se muestren en una línea */
    justify-content: space-around; /* Esto distribuirá los elementos de la lista de manera uniforme a lo largo de la línea */
    /*padding: 0;*/
}

#menu ul li a {
    text-decoration: none;
    color: var(--color-primario); /* Fuente rosa pastel */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}



/* Encabezado */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2em;
}

header p {
    text-align: center;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
}

/* Logo */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* ... (otros estilos) ... */

/* Estilos para el tema claro */
body.light {
    background-color: #ffffff;
    color: #333333;
}

/* Estilos para el tema oscuro */
body.dark {
    background-color: #333333;
    color: #ffffff;
}

body.dark #menu  {
    background-color: #333333;
}

body.dark header {
    color: #333333;
}

body.dark #PRODUCTOS {
    background-color: #333333;
}


/* Estilos para pantallas de tamaño grande (por ejemplo, computadoras de escritorio) */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* Estilos para pantallas de tamaño mediano (por ejemplo, tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        font-size: 16px;
    }
}

/* Estilos para pantallas de tamaño pequeño (por ejemplo, teléfonos móviles) */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

/* Estilo del contenedor de productos */
.contenedor-productos {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
}

.producto {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.producto img {
    width: 100%;
    height: auto;
}

.carousel-inner {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.contenido {
    display: flex;
    flex-direction: column;
    background-color: #dfb9ca;
    text-align: center;
}

p {
    text-align: justify;
  }

  h2 {
    text-align: justify;
  }

/* Estilos para el section Productos y el boton de cambio de tema*/

#PRODUCTOS {
    background-color: #fdcae1;
}

#PRODUCTOS h2 {
    display: flex;
}

/*estilos del boton de cambio de tema*/

#themeButton {
    background-color: rgb(134, 14, 108); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 5px 10px; /* Espaciado interno del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición suave al cambiar de color */
    margin-left: auto;
    font-size: 1ex;
}

#themeButton:hover {
    background-color: gray; /* Color de fondo del botón al pasar el cursor */
}


/*Estilos para el contenido*/

#contenido {
    padding: 30px;
}

#contenido h2 {
    text-align: center;
}

#contenido section {
    margin-bottom: 30px;
}

#UBICACIÓN {
    justify-content: center;
    text-align: center;
}

#UBICACIÓN p {
    justify-content: center;
    text-align: center;
}

#UBICACIÓN h2 {
    margin-bottom: 30px;
}

#UBICACIÓN iframe {
    width: 600px;
    height: 200px;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#CONTACTO {
    font-size: 1em;
}

#whatsapp-logo {
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0%;
}

#whatsapp-link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 0.5em;
}


.youtube-video {
    display: flex;
    justify-content: center;
}




