/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fdcae1;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

/* Logo */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* ... (otros estilos) ... */
